{% extends 'base.html' %}

{% block title %}
Delivery Tracking
{% endblock %}

{% block content %}

<div class="container py-5">

    <div class="card shadow">

        <div class="card-body">

            <h2>
                Delivery Tracking
            </h2>

            <hr>

            <div class="alert alert-info">

                {% if order.status == 'Served' %}
                ✅ Your order has been served.
                {% else %}
                🚚 Your order is being prepared.
                {% endif %}

            </div>
            
            <div class="progress">
                {% if order.status == 'Served' %}
                <div class="progress-bar progress-bar-striped progress-bar-animated"
                     style="width:100%">
                    Served
                </div>
                {% else %}
                <div class="progress-bar progress-bar-striped progress-bar-animated"
                     style="width:50%">
                    Preparing
                </div>
                {% endif %}
            </div>
            

            </div>

            <br>

            <p>

                Status:
                {{ order.status}}

            </p>

        </div>

    </div>

</div>

{% endblock %}